.otherProjects a,
.otherProjects button {
  border: none;
  color: white;
  background-color: black;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 2px solid white;
  margin: 5px;
  cursor: pointer;
}

.projPreviewDiv {
  width: 100%;
  height: 95%;
}

.siteFrame {
  width: 100%;
  height: 100%;
  min-height: 85vh;
}
/*//////////////////////////////*/
.projectDiv {
  background-color: #101010;
  padding: 6% 0px 6% 0px;
  min-height: 90vh;
}
.projBackBtn {
  border: 3px solid greenyellow;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: 600;
}

.projectDiv iframe {
  background-color: white;
}
#projectHeading {
  margin-top: 0px;
  margin-bottom: 2vh;
  padding-top: 20px;
  font-size: 30px;
  font-weight: 500;
}
#projectHeading span {
  text-decoration: underline;
  color: #0db3c7;
  text-decoration-color: #f9004d;
  margin-left: 5%;
  cursor: pointer;
}
#projectHeading span:hover {
  color: #f9004d;
  text-decoration-color: white;
  transition: all 0.2s;
}
#projectCardsDiv {
  display: flex;
  padding-top: 2vh;
}
#projListDiv {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: 560px;
  width: 50%;
  overflow-y: scroll;
}
#projListDiv {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
#projListDiv::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.card {
  display: flex;
  margin-bottom: 10px;
  min-height: 52px;
  max-height: 52px;
  width: 100%;
}
.listDiv {
  display: flex;
  background-color: #191919;
  border: 1px solid white;
  margin-left: 20px;
  width: 100%;
}
.logoInstDiv img {
  height: 50px;
}
.projInfoDiv {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 3px;
  padding-left: 10px;
}
.arrowDiv {
  width: 5%;
}
.arrowDiv img {
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.active img {
  visibility: visible;
}
.active .listDiv {
  border: 1px solid #000;
  background-color: #000;
}
.active .listDiv .projInfoDiv .projName {
  color: #ffc000;
}
.projName:hover {
  cursor: pointer;
  color: #ffc000;
}
.projDetailDiv {
  width: 50%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  height: 530px;
  margin-bottom: 35px;
  margin-right: 20px;
}
.projDetailDiv div {
  width: 100%;
  height: 80%;
  text-align: justify;
  overflow-y: auto;
  padding: 5px;
}

@media screen and (max-width: 700px) {
  .logoInstDiv {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #projListDiv {
    justify-content: space-between;
  }
  .logoInstDiv img {
    padding-top: 10px;
  }
  .card {
    min-height: 170px;
  }
  .listDiv {
    display: block;
  }
}
