.aboutDiv {
  display: flex;
  padding: 7% 0px;
  background-color: #191919;
  min-height: 90vh;
  width: 100%;
  box-sizing: border-box;
}
#aboutLeftDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  color: white;
}
#aboutLeftDiv img {
  width: 77%;
  border-radius: 5px;
  opacity: 0.6;
}
#aboutRightDiv {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: white;
}
#aboutHeading {
  font-family: "Roboto";
  color: white;
  width: 43%;
  text-decoration: underline;
  text-decoration-color: #0db3c7;
  font-weight: 900;
  font-size: 70px;
  margin-bottom: 5px;
  cursor: pointer;
}
#aboutHeading:hover {
  color: #0db3c7;
  text-decoration-color: white;
  transition: all 0.2s;
}
#aboutDescription {
  font-family: "Raleway";
  font-size: 150%;
  padding-right: 120px;
}

@media screen and (max-width: 1024px) {
  #aboutHeading {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .aboutDiv {
    flex-direction: column;
  }
  #aboutLeftDiv {
    width: 100%;
  }
  #aboutRightDiv {
    width: 100%;
  }
  #aboutHeading {
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding: 0% 10%;
    box-sizing: border-box;
  }
  #aboutDescription {
    padding: 0% 10%;
  }
}
