.homeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 10px 0px;
  background-position: 0px 0px, 40% 0%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  background-repeat: no-repeat;
  height: 90vh;
}
#parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
#helloPara {
  font-family: "Raleway";
  /* margin-top: 11%; */
  /* margin-right: 68%;
  margin-left: 20%; */
  width: fit-content;
  padding: 10px;
  color: #ffc000;
  font-size: 38px;
  font-weight: 900;
  background-color: black;
  border-radius: 10px;
}
#namePara {
  font-family: "Raleway";
  /* display: block; */
  font-size: 60px;
  font-weight: 700;
  padding: 10px;
  /* margin: 0px; */
  /* margin-left: 8%; */
  border-radius: 25px;
  border-radius: 5px;
  color: #000;
}
#namePara span {
  font-family: "Oswald";
  font-size: 90px;
  font-weight: 600;
  color: white;
  padding: 5px 10px;
  text-decoration-color: #000;
  border-radius: 10px;
}
#welcomeParaContainer {
  display:flex; 
  justify-content:flex-end; 
  width:100%;
}
#welcomePara {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 25px;
  width: 30%;
  min-width: 300px;
  text-align: center;
  margin-left: 30%;
  color: black;
  background-color: #ffc000;
  padding: 10px;
  border-radius: 10px;
}
#welcomePara span {
  color: #f9004d;
}

@media screen and (max-width: 768px) {
  .homeDiv {
    box-sizing: border-box;
    background-size: 300% 100%;
    background-position: -340px center;
  }
  #helloPara {
    /* margin-top: 29%; */
    font-size: 22px;
  }
  #namePara span {
    font-size: 60px;
  }
  /* #welcomePara {
    margin-left: 0px;
  } */
}
