.contactDiv {
  font-size: 22px;
  padding-bottom: 0px;
  background-position: 0px 0px, 100% -20%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  background-repeat: no-repeat;
  min-height: 75vh;
}
#contactHeading {
  font-family: "Raleway";
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}
#contactHeading span {
  background-color: rgba(255, 255, 255, 0.8);
  color: #1e2931;
  padding: 0px 30px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 4px solid black;
  border-right: 4px solid black;
  cursor: pointer;
}
#contactHeading span:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  transition: all 0.3s;
}
#contactOptionsDiv {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  flex-direction: column;
  margin: 0px 10px 0px 10px;
  padding: 60px 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  width: 50%;
}
#contactOptionsDiv i {
  color: #0db3c7;
  margin-top: 20px;
}
#contactAddress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contactAddress div {
  display: flex;
  flex-direction: column;
}
#profileLinkContact {
  font-family: "MonteCarlo";
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: darkgreen;
}
#profileLinkContact:hover {
  color: #f9004d;
  transition: all 0.2s;
}
.addressLine {
  margin: 20px 0px;
}
.addressLine span {
  font-family: "Raleway";
  color: #101010;
  font-weight: bold;
}
.addressLine span span {
  font-family: "Roboto";
  font-weight: 300;
  color: #1e2931;
}

@media screen and (max-width: 768px) {
  .contactDiv {
    background-size: 170% 85%;
    background-position: bottom right;
  }
  #contactOptionsDiv {
    width: 80%;
  }
  #contactAddress {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 5%;
  }
}
