.footerDiv {
  display: flex;
  justify-content: center;
  background-color: #101010;
  color: white;
  padding: 15px;
  box-sizing: border-box;
  max-height: 15vh;
}
.footerDiv img {
  width: 70px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0db3c7;
  cursor: pointer;
}
.footerDiv img:hover {
  box-shadow: 0px 0px 10px #f9004d;
  transition: all 0.3s;
}
.footerDiv a {
  display: flex;
  justify-content: center;
  align-self: center;
  color: #f9004d;
  margin-left: 15%;
  margin-right: 15%;
  cursor: pointer;
  font-size: 200%;
}
.footerDiv a i:hover {
  transform: scale(1.5);
  transition: all 0.3s;
}
