.experienceDiv {
  display: flex;
  padding: 6% 0px;
  flex-direction: column;
  background-color: #101010;
  min-height: 90vh;
}
#experienceHeading {
  font-family: "Poppins";
  display: inline;
  width: 13%;
  color: #f9004d;
  text-decoration: underline;
  text-decoration-color: white;
  font-weight: 500;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 5vh;
  margin-left: 70px;
  cursor: pointer;
}
#experienceHeading:hover {
  color: white;
  text-decoration-color: #f9004d;
  transition: all 0.2s;
}
#experienceCardWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-self: center;
  max-height: 74vh;
  width: 60%;
  padding: 5px 0px;
}
#experienceCardWrapper {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
#experienceCardWrapper::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.cardExperience {
  display: flex;
  height: 70%;
  max-height: 250px;
  background-color: #1e2931;
  flex-direction: row;
  border-radius: 20px;
  margin-bottom: 2vh;
  border: 2px solid white;
  box-shadow: 0px 0px 5px white;
  align-items: center;
}
.cardExperience:hover {
  border-color: #f9004d;
  box-shadow: 0px 0px 5px #f9004d;
  transition: all 0.3s;
}
.cardExperience p {
  margin: 2px;
}
.companyLogoDiv {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 30%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* border-right: 2px solid gray; */
  cursor: pointer;
}
.companyLogoDiv:hover {
  border-right: 2px solid #f9004d;
  transition: all 0.2s;
}
.companyLogoDiv img {
  align-self: center;
  border-radius: 50%;
  width: 80%;
  height: 70%;
}
.companyDetailsDiv {
  font-family: "Roboto";
  width: 70%;
  padding: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  border-left: 2px solid gray;
}
.headingsCompanyDetails {
  color: #0db3c7;
}

@media screen and (max-width: 768px) {
  #experienceHeading {
    font-size: 30px;
    margin-left: 40px;
  }
  .cardExperience {
    flex-direction: column;
  }
  .companyLogoDiv {
    width: 30%;
    border: none;
    margin: 0 auto;
    padding: 10px;
  }
  .companyLogoDiv img {
    width: 100%;
    height: 100%;
    max-width: 100px;
  }
  .companyLogoDiv:hover {
    border-radius: 0px;
    border-right: none;
  }
  .companyDetailsDiv:hover {
    border-top: 2px solid #f9004d;
    transition: all 0.2s;
  }

  .companyDetailsDiv {
    padding: 10px;
    margin: 0 auto;
    overflow-y: scroll;
    border-top: 2px solid gray;
    border-radius: 0px;
    width: 90%;
    border-left:none;
  }
}
