@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a {
  color: white;
  text-decoration: none;
}
